* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.6;
	margin: 0;
	padding: 1rem;
	color: aliceblue;
	background-color: #f4f4f4;
}

/* Encabezados */
h1, h2 {
    color: blue;
	margin-bottom: 1rem;
}
h1 {
    font-size: 2.5rem;
    text-align: center;
}

h2 {
    font-size: 2rem;
    margin-top: 1.5rem;
}

/* Párrafos */
p {
    font-size: 1rem;
    line-height: 1.8;
    margin-bottom: 1rem;
    color: #555;
}

/* Imágenes */
img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 1rem;
}

/* Listas */
ul, ol {
    margin: 1rem 0;
    padding-left: 2rem;
}

li {
    margin-bottom: 0.5rem;
    font-size: 1rem;
}

/* Tablas */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 1rem 0;
}

thead {
    background-color: #4CAF50;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

th, td {
    padding: 0.75rem;
    text-align: left;
    border: 1px solid #ddd;
}

/* Formularios */
form {
    margin: 1rem 0;
    padding: 1rem;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: #333;
}

input[type="text"], input[type="email"], textarea, select {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
    font-family: 'Arial', sans-serif;
}

/* Botones */
button {
    display: inline-block;
    background: #4CAF50;
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background: #45a049;
}