body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f4f4f4;
}

h1 {
    color: blue;
}
 
img {
	background-color: white;
	margin: 1em 0;
	padding: 1em;
	border: 1px solid #ddd;
	border-radius: 5px;
}

ul {
	list-style: none;
	display: flex;
	gap: 1em;
	margin: 0;
	padding: 0;
}
ul li {
	margin: 0;
}
 
nav ul li a {
	color: white;
	text-decoration: none;
	padding: 0.5em 1em;
}
 
ul li a:hover {
	background-color: #555;
}
 
.resaltado {
	font-weight: bold;
	color: #d9534f;
}
 
 
button{
	padding: 0.5em 1em;
	background-color: #333;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}
 
button:hover{
	background-color: #555;
}

table {
    border-collapse: collapse;
    width: 100%;
}
table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}